<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Microb[io]log[y] - {% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainpage/site.css' %}"/>
    </head>
    <header>
        <div class="header">
            <h1> Microb[io]log[y]</h1>
        </div>
    </header>
    <body>
        <nav>
            <div class="navbar">
                <a href="{% url 'home' %}" class="navbar-brand">Home</a>
                <a href="{% url 'organisms' %}" class="navbar-item">Organisms</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'newpost' %}" class="navbar-item">New Post</a>
                    <a href="{% url 'account' %}" class="navbar-item">{{user.username}}</a>
                    <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navbar-item">Login</a>
                    <a href="{% url 'register' %}" class="navbar-item">Register</a>
                {% endif %}
            </div>
        </nav>

        {% include 'mainpage/includes/messages.html' %}

        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>
        <hr/>
        <footer>
            Developed by Andreis, FC (2020)<br>
            Powered by coffee
        </footer>
    </body>
</html>