{% extends "mainpage/base_layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
        <div class="message">{{title}}</div><br>
        {{author}} @ {{created}}<br>
        <i>{{organism}}</i><br>
        Última atualização em {{lastmod}}<br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu bibendum at varius vel pharetra vel turpis nunc. Pulvinar sapien et ligula ullamcorper malesuada proin. Nam at lectus urna duis. Morbi blandit cursus risus at ultrices mi tempus. Purus ut faucibus pulvinar elementum. Sit amet dictum sit amet justo. Pellentesque habitant morbi tristique senectus et netus et. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Malesuada proin libero nunc consequat.</p>
{% endblock %}