{% extends "mainpage/base_layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
        {% if posts %}
            {% for post in posts %}
                <div class="message">{{post.title}}</div><br>
                <i>{{post.organism}}</i><br>
                By {{post.author}} @ {{post.creationdate}}<br>
                Last update @ {{post.updatedate}}<br>
                <p>{{post.text | safe}}</p>
                <hr/>
            {% endfor %}
        {% endif %}
{% endblock %}